$background-color: #FFFFFF;
$image-background-color: #F2F2F2;
$primary-color: #36B98D;
$secondary-primary-color: #1AAF89;
$nav-header-color: #000000;
$page-header-color: #333333;
$content-title-color: #020202;
$content-text-color: #303B3C;
$content-tex-secondary-color: #AFAFAF;
